.container{
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}

@media (max-widt:900px){
    .container{
        padding: 20px;
    }
}

@media (max-widt:600px){
    .container{
        padding: 10px;
    }
}